[submodule "ernest-slave-eagle"]
	path = ernest-slave-eagle
	url = git@github.com:rschlaikjer/ernest-slave-eagle.git
[submodule "ernest-slave-code"]
	path = ernest-slave-code
	url = git@github.com:rschlaikjer/ernest-slave-code.git
[submodule "ernest-server"]
	path = ernest-server
	url = git@github.com:rschlaikjer/ernest-server.git
[submodule "ernest-master-code"]
	path = ernest-master-code
	url = https://github.com/rschlaikjer/ernest-master-code.git
